
**/.DS_Store
TestsutraCommon/target/classes/*
TestsutraCommon/target/*
TestSutraUsers/target/classes/*
TestSutraUsers/target/*
TestSutraUsers/target/classes/application.properties
*.class
TestSutraUsers/target/*
